@model AutoStockBroker.Models.Stocks.StockPortfolio

@{
    ViewBag.Title = "Prototype page";
}

<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>

<h2>Information from @Model.StockCatalogueName</h2>
<p>Total shares owned: <b>@Model.TotalAmountOwned</b></p>
<p>Total value accumulated: <b>@Model.TotalValue SEK</b></p>
<table class="mainStockTable">
    <theader>
        <tr class="paper-bg">
            <th>Name</th>
            <th>Industry</th>
            <th>Currency</th>
            <th class="numbers">Price</th>
            <th class="numbers">Nr of shares</th>
            <th class="numbers">Value (SEK)</th>
            <th class="numbers">Portfolio Weight (%)</th>  
            <th class="numbers">Market Cap</th>
            <th class="numbers">Dividend (%)</th>
            <th class="numbers">Volatility (%)</th>
            <th class="numbers">Beta</th>
            <th class="numbers">P/E</th>
            <th class="numbers">P/S</th>
            <th class="numbers">Rek</th>
        </tr>
    </theader>
    <tbody>
        @for (int i = 0; i < Model.Stocks.Count(); i++)
        {
            <tr>
                <td>@Model.Stocks[i].Name</td>
                <td>@Model.Stocks[i].Industry</td>
                <td>@Model.Stocks[i].Currency</td>
                <td class="numbers">@Model.Stocks[i].StringValue</td>
                <td class="numbers">@Model.Stocks[i].AmountOwned</td>
                <td class="numbers">@Model.Stocks[i].ValueOwned.ToString("F")</td>
                <td class="numbers border-right">@Model.Stocks[i].Weight.ToString("F")</td>
                <td class="numbers">@Model.Stocks[i].MarketCap</td>
                <td class="numbers">@Model.Stocks[i].Dividend</td>
                <td class="numbers">@Model.Stocks[i].Volatility</td>
                <td class="numbers">@Model.Stocks[i].Beta</td>
                <td class="numbers">@Model.Stocks[i].PriceEarnings</td>
                <td class="numbers">@Model.Stocks[i].PriceSales</td>
                <td class="numbers">@Model.Stocks[i].Consensus</td>
            </tr>
        }
        @*@for (int i = 0; i < Model.MidCapStocks.Count(); i++)
        {
            <tr>
                <td>@Model.MidCapStocks[i].Name</td>
                <td>@Model.MidCapStocks[i].Industry</td>
                <td>@Model.LargeCapStocks[i].Currency</td>
                <td class="numbers">@Model.MidCapStocks[i].StringValue</td>
                <td class="numbers">@Model.MidCapStocks[i].AmountOwned</td>
                <td class="numbers">@Model.MidCapStocks[i].ValueOwned.ToString("F")</td>
                <td class="numbers">@Model.MidCapStocks[i].Weight.ToString("F")</td>
                <td class="numbers">@Model.LargeCapStocks[i].MarketCap</td>
                <td class="numbers">@Model.LargeCapStocks[i].Dividend</td>
                <td class="numbers">@Model.LargeCapStocks[i].Volatility</td>
                <td class="numbers">@Model.LargeCapStocks[i].Beta</td>
                <td class="numbers">@Model.LargeCapStocks[i].PriceEarnings</td>
                <td class="numbers">@Model.LargeCapStocks[i].PriceSales</td>
                <td class="numbers">@Model.LargeCapStocks[i].Consensus</td>
            </tr>
        }
        @for (int i = 0; i < Model.SmallCapStocks.Count(); i++)
        {
            <tr>
                <td>@Model.SmallCapStocks[i].Name</td>
                <td>@Model.SmallCapStocks[i].Industry</td>
                <td>@Model.LargeCapStocks[i].Currency</td>
                <td class="numbers">@Model.SmallCapStocks[i].StringValue</td>
                <td class="numbers">@Model.SmallCapStocks[i].AmountOwned</td>
                <td class="numbers">@Model.SmallCapStocks[i].ValueOwned.ToString("F")</td>
                <td class="numbers">@Model.SmallCapStocks[i].Weight.ToString("F")</td>
                <td class="numbers">@Model.LargeCapStocks[i].MarketCap</td>
                <td class="numbers">@Model.LargeCapStocks[i].Dividend</td>
                <td class="numbers">@Model.LargeCapStocks[i].Volatility</td>
                <td class="numbers">@Model.LargeCapStocks[i].Beta</td>
                <td class="numbers">@Model.LargeCapStocks[i].PriceEarnings</td>
                <td class="numbers">@Model.LargeCapStocks[i].PriceSales</td>
                <td class="numbers">@Model.LargeCapStocks[i].Consensus</td>
            </tr>
        }*@
    </tbody>
</table>