<!DOCTYPE html>
<html>
<head>
    <META http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AutoStockBroker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="white2-bg">
    <div class="navbar paper-bg navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header paperMenuItem-bg paddingLeft-15">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AutoStockBroker", "WelcomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="paperMenuItem-bg">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="paperMenuItem-bg">@Html.ActionLink("Master plan", "MasterPlan", "Home")</li>
                    <li class="paperMenuItem-bg">@Html.ActionLink("Great links", "GreatLinks", "Home")</li>
                    <li class="paperMenuItem-bg">@Html.ActionLink("Financial syntax", "FinancialSyntax", "Home")</li>
                    <li class="paperMenuItem-bg">@Html.ActionLink("Programming syntax", "ProgrammingSyntax", "Home")</li>
                    <li class="paperMenuItem-bg">@Html.ActionLink("Prototype page", "StockCatalogues", "Prototype")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content wrapper">
        @RenderBody()
        <div class='push'></div>
    </div>
    <footer class="dusty-bg footer footerStyle">
        <hr />
        <p class="paddingLeft-15">&copy; @DateTime.Now.Year - AutoStockBroker</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
